html {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: $font-family-sans-serif;
  background: $body-bg;
  color: $black;
  @include rem(16);
}

* {
  box-sizing: border-box;
}

h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
li,
dl,
dt,
dd,
table,
tr,
th,
td {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
  &:hover {
    text-decoration: none;
    color: $black;
  }
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.container {
  max-width: 1080px;
  padding: 0 40px;
  margin: 0 auto;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.errors {
  margin-bottom: 8px;
  color: $red;
  font-size: 8px;
  text-align: left;
}
