@charset "UTF-8";

/* font-size */

/* layer */

/* アスペクト比 */

/* テーブル初期レイアウト */

/* ブレイクポイント */

/* @mediaのフォーマット */

html {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Nunito", sans-serif;
  background: #f8fafc;
  color: #333333;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
li,
dl,
dt,
dd,
table,
tr,
th,
td {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: none;
  color: #333333;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.container {
  max-width: 1080px;
  padding: 0 40px;
  margin: 0 auto;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.errors {
  margin-bottom: 8px;
  color: #e3342f;
  font-size: 8px;
  text-align: left;
}

.header {
  background-color: #3490dc;
  color: #ffffff;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title a {
  display: inline-block;
  padding: 8px 0;
  color: #ffffff;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  padding: 4px 8px;
}

.navbar ul li:not(:last-child) {
  margin-right: 8px;
}

.navbar ul li a {
  color: #ffffff;
}

.footer {
  padding: 8px;
  margin-top: 24px;
  background: #3490dc;
  color: #ffffff;
}

.footer .container {
  text-align: center;
}

.login {
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
}

.tab {
  display: flex;
  background: #ffffff;
}

.tab-item {
  width: 50%;
  padding: 8px 0;
  border: 1px solid #bbbbbb;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 0.3;
  cursor: pointer;
}

.tab-active {
  opacity: 1;
}

.panel {
  background: #ffffff;
  padding: 8px 16px;
  border: 1px solid #bbbbbb;
}

.login .form .form-row label {
  display: block;
  margin: 0 0 8px;
  text-align: left;
}

.login .form .form-row input {
  display: block;
  width: 100%;
  padding: 4px 8px;
  margin: 0 0 8px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
}

.login .form .form-row .input-hidden {
  display: none;
}

.login .form .form-row .upload {
  display: block;
  width: 100%;
  min-height: 200px;
  line-height: 200px;
  padding: 4px 8px;
  margin: 0 0 8px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.login .form .form-row .enter {
  opacity: 0.5;
}

.login .form button {
  padding: 8px 16px;
  border-radius: 8px;
  background: #3490dc;
  color: #ffffff;
  font-weight: bold;
}

.article_list {
  max-width: 400px;
  padding: 8px 0;
  margin: 0 auto;
}

.article_list h1 {
  text-align: center;
}

.article_list h2 {
  margin: 0 0 4px;
}

.article_nothing {
  text-align: center;
}

.article {
  padding: 8px;
  margin: 0 0 8px;
  border-bottom: 1px solid #bbbbbb;
}

.article_header {
  position: relative;
  display: flex;
  margin: 0 0 4px;
}

.article_icon {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  background: #bbbbbb;
  border-radius: 50%;
  overflow: hidden;
}

.article_icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article_icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.article_info {
  flex: 1 0 auto;
}

.article_created_at {
  font-size: 8px;
}

.article_dot {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.article_dot svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article_modal {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 0 8px;
  border: 1px solid #bbbbbb;
  border-radius: 8px;
  background: #ffffff;
  font-size: 12px;
}

.article_modal li {
  padding: 4px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.article_modal li:not(:last-child) {
  border-bottom: 1px solid #bbbbbb;
}

.article_form {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.article_form .form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  padding: 16px;
  border: 1px solid #bbbbbb;
  border-radius: 8px;
  background: #ffffff;
  overflow: hidden;
  z-index: 30;
}

.article_form .form .form-row {
  color: #333333;
}

.article_form .form .form-row label {
  display: block;
  margin: 0 0 8px;
  text-align: left;
}

.article_form .form .form-row input,
.article_form .form .form-row textarea {
  display: block;
  width: 100%;
  padding: 4px 8px;
  margin: 0 0 8px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
}

.article_form .form button {
  float: right;
  padding: 4px 8px;
  border-radius: 8px;
  background: #3490dc;
  color: #ffffff;
  font-weight: bold;
}

.pagination {
  overflow: hidden;
}

.prev {
  float: left;
}

.next {
  float: right;
}

.message {
  max-width: 600px;
  padding: 12px 8px;
  margin: 8px auto;
  border: 1px solid #0f5132;
  border-radius: 8px;
  background-color: #d1e7dd;
  color: #0f5132;
}

